{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins&display=swap"
      rel="stylesheet"
    />
    <link
      rel="shortcut icon"
      href="{% static '/images/svg/rimmingtons.ico' %}"
      type="image/x-icon"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"
      defer
    ></script>
    <script src="{% static '/js/nav.js' %}" defer></script>
    <script src="{% static '/js/home.js' %}" defer></script>
    <link rel="stylesheet" href="{% static '/css/home/index.css' %}" />
    <title>Pharmacy • Home</title>
  </head>
  <body>
    <div class="container">
      <header>{% include 'all/nav.html' %}</header>

      {% if success %}
      <div class="success_message_cont">
        <h4 class="success_message">{{ success }}</h4>
      </div>
      {% endif %}

      <main class="hero">
        <h1>
          <span>There’s Nothing More Important Than</span
          ><span>Your Health. Book An Appointment And</span>Fight Against The
          Disease
        </h1>

        <button>Book Appointment</button>
      </main>

      <section class="strengths">{% include 'home/wwd.html' %}</section>
    </div>
  </body>
</html>
